.form-container {
    transition: transform 0.5s ease;
}

.form-container.show {
    transform: translateY(-60px);
}

.form-elements {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.form-container.show .form-elements {
    opacity: 1;
}

#title-heading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    white-space: nowrap;
}

.form-container.show #title-heading {
    transform: translateY(-100%) scale(0);
}


body {
    background-color: #f0f4f8;
}

.background-shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.shape {
    position: absolute;
    opacity: 0.3;
    animation: moveShape 30s linear infinite;
}

.shape-1 {
    width: 200px;
    height: 200px;
    background-color: #e2e8f0;
    border-radius: 50%;
    top: 20%;
    left: 10%;
}

.shape-2 {
    width: 150px;
    height: 150px;
    background-color: #cbd5e0;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    top: 60%;
    right: 15%;
}

.shape-3 {
    width: 180px;
    height: 180px;
    background-color: #a0aec0;
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    top: 35%;
    left: 30%;
}

.shape-4 {
    width: 120px;
    height: 120px;
    background-color: #718096;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    top: 80%;
    left: 60%;
}

@keyframes moveShape {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    100% {
        transform: translate(100px, 100px) rotate(360deg);
    }
}

header {
    backdrop-filter: blur(10px);
}

#home .container {
    max-width: 800px;
}

#home .container>div {
    padding: 40px;
}

#similarReportsList {
    max-height: 300px;
    overflow-y: auto;
}

#similarReportsList::-webkit-scrollbar {
    width: 6px;
}

#similarReportsList::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#similarReportsList::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

@media (max-width: 640px) {
    .container {
        padding: 0 1rem;
    }

    .form-container.show {
        transform: translateY(-40px);
    }

    #title-heading {
        font-size: 1.5rem;
    }

    .form-container.show #title-heading {
        transform: translate(-100, -100%) scale(0);
    }
}